body
{
	background-color: black;
	background-size: 100%;
}

#container
{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	position: relative;
	height: 100%;
}

#header
{
	font-family: Verdana;
	font-size: 400%;
	color: white;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	text-align: center;
	padding: 0px;
}

#main
{
	padding: 10px;
	text-align: center;
}

#index
{
	font-family: Verdana;
	font-size: 300%;
	color: white;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#index_button
{
	padding: 15px 25px;
	font-family: Verdana;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: black;
	background-color: #6cabeb;
	border: none;
	border-radius: 15px;
	transition: 0.3s;
	opacity: 0.8;
}
 #index_button:hover
 {
	background-color: #3891eb;
	opacity: 1;
	color: white;
 }
 
 #index_button:active
 {
	background-color: #529eeb;
	transform: translateY(4px);
 }