body
{
	background-color: black;
	background-size: cover;
	background-size: 100%
}

#container
{
	background-color: #EEE;
	border-radius: 10px;
	border-style: solid;
	border-color: #2161d9;
	border-width: 3px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}

#content
{
	background-color: #EEE;
}

#header
{
	font-family: Verdana;
	font-size: 25px;
	text-align: center;
	padding: 5px;
	color: white;
}

#main_resume
{
	font-family: Verdana;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	opacity: 1;
	width: 630px;
	float: right;
	margin-right: 55px;
	margin-top: 10px;
}

#main_about
{
	font-family: Verdana;
	font-size: 25px;
	padding: 10px;
	text-align: center;
	opacity: 1;
	width: 630px;
	float: right;
	margin-right: 55px;
	margin-top: 10px;
}

#main_projects
{
	font-family: Verdana;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	opacity: 1;
	width: 630px;
	float: right;
	margin-right: 55px;
	margin-top: 10px;
}

#project_span
{
	font-size: 18px;
	font-weight: bold;
}

#project-par
{
	font-size: 15px;
}

#about_par
{
	font-size: 18px;
}

#index
{
	font-family: Verdana;
	float: left;
	background-color: #d4d5d6;
	width: 180px;
	margin-left: 15px;
	//margin-right: auto;
	margin-top: 15px;
	margin-bottom: 300px;
	border-style: solid;
	border-color: black;
	border-width: 2.5px;
	border-radius: 10px;
	padding: 0px 20px 20px 20px;
}

#index_button
{
	padding: 8px 18px;
	font-family: Verdana;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: black;
	background-color: #6cabeb;
	border: none;
	border-radius: 15px;
	transition: 0.3s;
	//opacity: 0.8;
}
 #index_button:hover
 {
	background-color: #3891eb;
	opacity: 1;
	color: white;
 }
 
 #index_button:active
 {
	background-color: #529eeb;
	//box-shadow: 0 5px #666;
	transform: translateY(4px);
 }

#footer
{
	font-family: Verdana;
	text-align: center;
	color: black;
	padding: 5px;
	clear: both;
}